/* general reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.container{
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

a, a:hover, a:active, a:visited{
    color: #000;
    text-decoration: none;
}

/* fix footer */
.homepage,.aproposPage, .logement-details,.errorPage{
    min-height: calc(100vh - 72px - 209px);
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 63px 0;
}

.header .logo__img{
    width: 210px;
    height: 68px;
}
/* navigation */
.navigation .menu{
    list-style: none;
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}
.navigation .menu__link:nth-child(2){
    margin-left: 57px;
}
.navigation .menu__link a{
    color: #FF6060;
}

.navigation .menu__link--active{
    text-decoration: underline;
}

/* footer */

.footer{
    height: 209px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    text-align: center;
    color: #fff;
}

.footer .logo__img{
    width: 122px;
    height: 39.44px;
}

.footer .rights{
    margin-top: 28px;
    font-weight: 500;
    font-size: 24px;
}


/* smartphones */
@media screen and (max-width: 1024px){
    .header .logo__img{
        width: 145px;
        height: 47px;
    }

    .navigation .menu{
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .navigation .menu__link:nth-child(2){
        margin-left: 10px;
    }
   
}