/* banner */
.banner{
    position: relative;
    width: 100%;
    height: 223px;
    margin-bottom: 43px;
}
.banner__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.banner__bg{
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    border-radius: 25px;
}

.banner__title{
    position: absolute;
    top: 82px;
    left: 262px;
    color: #fff;
    font-weight: 500;
    font-size: 48px;
}